
:root {
      font-size: 450px; /* Tamaño base */
      }
       html {
            font-size: 16px;
       }
      
    .ems li {
            font-size: 1.3em;
       }

h1 {
    font-size: 2rem; /* El doble del tamaño base: 20px */
    }

body { font-size: 1em; }
    h1 { font-size: 200%; }
    h2 { font-size: 150%; }    
