li:first-of-type + li {
    font-style: italic;
    color: orange;
    }
    p ~ span {
        font-style: italic;
        color: #ff4000;
        }

        .lotr > li {
            color: orange;
            font-weight: bold;
            }
        .hob > li {
            color: goldenrod;
        }

        .two-towers span {
            color: crimson;
            font-weight: bold;
            }
